.bodyWrapper{

}
.app-wrapper{
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.header{
  width: 100%;
  background-color: aliceblue;
  margin-bottom: 15px;
}
.logoImg{
  max-height: 130px;
}
.mainBlock {
  display: flex;
}
.nav{
  background-color: green;
  min-width: 220px;
}
.content{
  background-color: burlywood;
  width: 100%;
  margin-left: 15px;

}
.contentImg{
  width: 100%;
  height: 300px;
}