.dialogs {
    display: flex;
    background-color: burlywood;
    width: 100%;
    margin-left: 15px;
}

.dialogItems {
    width: 100px;
    border-right: 2px solid white;
}
.dialogWrapper{
    padding: 20px;
}
.dialog {
    color: black;
}

.active {
    color: cyan;
}

.messages {
    flex-grow: 1;
}

.message {
    padding: 10px;
}
