.messagesPageWrapper {
    display: flex;
    background-color: darkslategray;
    width: 100%;
}

.dialogs {
    flex: 0 0 100px;
    border-right: 3px solid white;
}

.messages {
    flex: 1 1 auto;
    background-color: seagreen;
    width: 100%;

}
.textArea{
    width: 80%;

}
.textAreaBlock{
    padding: 20px;
}

